<!DOCTYPE html>
<html lang="en">

{{>links}}

<body>
    {{>navbar}}
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center ">
                <img src="images/error.png" alt="error" class="img-fluid" style="width: 50rem; height:30rem">
                <h2 class="text-center">{{errormsg}}</h2>
            </div>
        </div>

    </div>



</body>

</html>