<!DOCTYPE html>
<html lang="en">

<head>

    {{>links}}
</head>

<body>
    {{>navbar}}

    <!-- main header section -->

    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side code -->
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img class="img-fluid" src="Images/Aboutme.png" />
                        </figure>

                    </div>

                    <!-- right side code -->
                    <div class="col-md-6 col-12 main_header_right">
                        <h1>I am <span class="text_weather">Anand Sharma</span> aspiring React Developer</h1>

                        <a href="/about"><button class="btn btn-success mt-3">AboutME</button></a>

                    </div>


                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>